{
	"TargetName": "SwitchboardListenerCmd",
	"Platform": "Win64",
	"Configuration": "Development",
	"TargetType": "Program",
	"IsTestTarget": false,
	"Architecture": "x64",
	"Launch": "$(EngineDir)/Binaries/Win64/SwitchboardListenerCmd.exe",
	"Version": 
	{
		"MajorVersion": 5,
		"MinorVersion": 4,
		"PatchVersion": 4,
		"Changelist": 35576357,
		"CompatibleChangelist": 33043543,
		"IsLicenseeVersion": 0,
		"IsPromotedBuild": 0,
		"BranchName": "++UE5+Release-5.4",
		"BuildId": "33043543"
	},
	"BuildProducts": [
		{
			"Path": "$(EngineDir)/Binaries/Win64/SwitchboardListenerCmd.exe",
			"Type": "Executable"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/SwitchboardListenerCmd.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbb.dll",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbb.pdb",
			"Type": "SymbolFile"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbbmalloc.dll",
			"Type": "DynamicLibrary"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbbmalloc.pdb",
			"Type": "SymbolFile"
		}
	],
	"RuntimeDependencies": [
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/DbgHelp/dbghelp.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/MsQuic/v220/win64/msquic.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/ThirdParty/Windows/WinPixEventRuntime/x64/WinPixEventRuntime.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbb.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbb.pdb",
			"Type": "DebugNonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbbmalloc.dll",
			"Type": "NonUFS"
		},
		{
			"Path": "$(EngineDir)/Binaries/Win64/tbbmalloc.pdb",
			"Type": "DebugNonUFS"
		}
	],
	"AdditionalProperties": [
		{
			"Name": "SDK",
			"Value": "Not Applicable"
		}
	]
}